/*fraction*/
/* 10 */
.box{
    background-color: lightblue;
}
.wrapper {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 10px;
}
/*Apple*/
/* 4 2, 2*/
/* 2 , 1 1*/