/*fraction*/
/* 10 */
.box{
    background-color: lightblue;
}

.wrapper {
    height: 600px;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    gap: 10px;
    /*grid-template-columns: repeat(auto-fill,200px );*/
    /*grid-template-columns: repeat(auto-fit,minmax(200px, 1fr) );*/
    /*grid-template-rows: 100px auto 50px;*/
    /*grid-auto-rows: 200px;*/

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px auto 50px;
    grid-template-areas:
        "headerArea headerArea"
        "asideArea contentArea"
        "footerArea footerArea"
    ;
}
*{
    color: white;
}
.box1{
    border-style: ;
    grid-area: headerArea;
    background-color: red}
.box2{
    grid-area: asideArea;
    background-color: green}
.box3{
    grid-area: contentArea;
    background-color: yellow}
.box4{
    grid-area: footerArea;
    background-color: grey}


