/*fraction*/
/* 10 */
.box{
    background-color: lightblue;
}

.wrapper {
    height: 200px;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    gap: 10px;
    /*grid-template-columns: repeat(auto-fill,200px );*/
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr) );
    /*grid-template-rows: 100px auto 50px;*/
    /*grid-auto-rows: 200px;*/
}
.box1{
    background-color: red;
    grid-row: 1/4;
}

